//FLEXBOX
.flexCol {
  display: flex;
  flex-direction: column;
}
.flexRow {
  display: flex;
  flex-direction: row;
}
.align-center {
  align-items: center;
}
.align-right {
  align-items: right;
}
.align-left {
  align-items: left;
}
.jCenter {
  justify-content: center;
}
.jLeft {
  justify-content: left;
}
.jRight {
  justify-content: right;
}

//WIDTH
.w-100 {
  width: 100%;
}
.w-90 {
  width: 90%;
}
.w-80 {
  width: 80%;
}
.w-50 {
  width: 50%;
}
.w25 {
  width: 25%;
}
.w20 {
  width: 20%;
}
.w-10 {
  width: 10%;
}

.w-100vw {
  width: 100vw;
}
.w-90vw {
  width: 90vw;
}
.w-80vw {
  width: 80vw;
}
.w-50vw {
  width: 50vw;
}
.w25vw {
  width: 25vw;
}
.w20vw {
  width: 20vw;
}
.w-10vw {
  width: 10vw;
}

.w-500px {
  width: 500px;
}
.w-250px {
  width: 250px;
}
.w-200px {
  width: 200px;
}
.w-100px {
  width: 100px;
}
.w-90px {
  width: 90px;
}
.w-80px {
  width: 80px;
}
.w-50px {
  width: 50px;
}
.w25px {
  width: 25px;
}
.w20px {
  width: 20px;
}
.w-10px {
  width: 10px;
}
